.nav {
    grid-area: n;
    background-color: azure;
    padding: 20px;
}

.item {
    margin-bottom: 20px;
}

.item a{
    text-decoration: none;
    color: darkcyan;

}

.item a:hover {
    color: darkcyan;
}

.active  {
    color: brown !important;
}

