.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .dialog {
    padding-bottom: 40px;
}

.dialogsItems .active {
    color: brown;
}

.messages {
    padding: 10px;
}

.messages .message {

}

.avatar {
    padding-right: 20px;
}

.textArea {

}

.messageBlock {
    padding-bottom: 20px;
}